/* variable declaration */
:root {
    /* colors */
    --BG-ONE: #1b1b1b;
    --BG-TWO: #000;
    --BG-THREE: #333;
    --BG-FOUR: rgb(0 0 0 / 50%);
    --COLOR: whitesmoke;

    /* typography */
    --FS: clamp(12.8px, 11.7333px + 0.3333vw, 16px);

}

html {
    font-family: Rubik, sans-serif;
    scroll-behavior: smooth;
}

body {
    font-size: var(--FS);
}

/* text align class */
.text-justify {
    text-align: justify;
}

/* header styling */

/* nav styling */
.offcanvas {
    width: 270px !important;
}

/* landing page styling */

/* brand name animation start */
.name-l1,
.name-l2,
.name-l3,
.name-l4,
.name-l5,
.name-l6,
.name-l7,
.name-l8 {
    opacity: 0;
    transform-origin: center;
}

.header__name-first {
    left: 0;
    transform: scale(1.8);
    animation: remain2 0.5s ease-in-out 5.5s forwards;
}

.name-l1 {
    animation: name 0.5s ease-in-out forwards;

}

.name-l2 {
    animation: name 0.5s ease-in-out 0.5s forwards;
}

.name-l3 {
    animation: name 0.5s ease-in-out 1s forwards;
}

.name-l4 {
    animation: name 0.5s ease-in-out 1.5s forwards;
}

.name-l5 {
    animation: name 0.5s ease-in-out 2s forwards;
}

.name-l6 {
    animation: name 0.5s ease-in-out 2.5s forwards;
}

.name-l7 {
    animation: name 0.5s ease-in-out 3s forwards;
}

.name-l8 {
    animation: name 0.5s ease-in-out 3.5s forwards;
}

.header__name-rest {
    animation: name-rest 1s ease-in-out 4s forwards;
    transform-origin: left;
}

.header__name {
    left: 50%;
    transform: translate(-50%, -50%);
    animation: remain1 0.5s ease-in-out 5s forwards;
    transform-origin: center;
}

@keyframes name {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    80% {
        transform: scale(1.2);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes name-rest {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

/* Created by Ashik Biju | Restaurant Webpage | 2025 */

@keyframes remain1 {
    0% {
        transform: translate(-50%, -50%);
    }

    100% {
        width: 10%;
        transform: translate(-20%, -50%);
    }
}

@keyframes remain2 {
    0% {
        transform: scale(1.8);
    }

    100% {
        transform: scale(3);
    }
}

/* brand name animation ends */

.carousel__img {
    height: max(98vh, 695px);
    filter: brightness(60%);
}

.carousel__img-last {
    transform: scale(1.8);
}

.header__content {
    height: max(98vh, 695px);
}

.header__hero {
    opacity: 0;
    animation: head 1s ease-in-out 5.5s forwards;
    transform-origin: bottom;
}

/* animation of landing page that follows brand name */
@keyframes head {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* background images for reserve a table and about us sections */
.background-one,
.background-two {
    min-height: max-content;

}

.background-one::after,
.background-two::after {
    position: absolute;
    z-index: -1;
    background-attachment: fixed;
    background-position-x: 40%;
    background-position-y: top;
    background-size: cover;
    content: "";
    filter: brightness(40%);
    inset: 0;
}

.background-one::after {
    background-image: url("./images/bg/bg2.jpg");
}

.background-two::after {
    background-image: url("./images/bg/bg1.jpg");
}

/* about us section chef cards and goal and timings */

.card {
    height: fit-content;
}

.about__goal {
    height: fit-content;
    background-color: var(--BG-FOUR) !important;
}

.about__hours {
    width: fit-content;
    height: fit-content;
    background-color: var(--BG-FOUR);
}

/* menu section */
.accordion-button::after {
    display: none;
}

/* menu image animation */
.menu__img {
    z-index: 5;
    width: clamp(100px, 66.6667px + 10.4167vw, 200px);
    transition: opacity 1s ease-in-out;
    opacity: 0;
    aspect-ratio: 1/1;
}

.menu__imga {
    top: 70px;
    left: 5%;
}

.menu__imgb {
    top: -50px;
    right: 5%;
}

.menu__imgc {
    top: -50px;
    left: 5%;
}

.menu__imgd {
    top: 70px;
    right: 5%;
}

:is(.menu__hover:hover, .menu__hover:focus-within)~.menu__img {
    animation: menu-i 2s ease-in-out;
}

@keyframes menu-i {
    0% {
        opacity: 0;
    }

    66% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* all buttons with class btn-snow */
.btn-snow:hover,
.btn-snow:active,
.btn-snow:focus {
    background-color: var(--COLOR);
    border-color: var(--COLOR);
}

/* for scrolling using links */
.main-section {
    scroll-margin-top: 5rem;
}

/* media queries */
@media screen and (width >=583px) {

    /* stylelint-disable-next-line comment-empty-line-before */
    /* carousel in landing page */
    .header__content {
        left: 50%;
        background-color: var(--BG-TWO);
    }

}

@media screen and (width >=796px) {

    /* stylelint-disable-next-line comment-empty-line-before */
    /* menu images */
    .menu__imga {
        left: 15%;

    }

    .menu__imgb {
        top: -90px;
        right: 15%;

    }

    .menu__imgc {
        top: -90px;
        left: 15%;

    }

    .menu__imgd {
        right: 15%;

    }


}

@media screen and (width >=1440px) {

    /* stylelint-disable-next-line comment-empty-line-before */
    /* menu images */
    .menu__imga {
        left: 20%;

    }

    .menu__imgb {
        right: 20%;

    }

    .menu__imgc {
        left: 20%;

    }

    .menu__imgd {
        right: 20%;

    }


}